<div class="out">
<nav class="navbar bg-body-tertiary ">
  <div class="row">
    <div class="col-4">
      <a class="navbar-brand " href="#">
        <i class="logo"></i>
          </a>
    </div>
    <div class="col-3">
      <span class="d1" style="margin-left: 12rem;">Dunzo for Partners</span>  
    </div>
    <div class="col-3">
      <div class= "dropdown" >
              <a class=" nav-item dropdown nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Business with Dunzo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Need Delivery Partners</a></li>
                <hr>
                <li><a class="dropdown-item" href="#">Sell Products on Dunzo</a></li>
            
              </ul>
      </div>
    </div>
    <div class="col-2">
      <button class="d3">Sign in</button>

    </div>
  </div>

  
</nav>
</div>

