<!-- Footer -->
<footer class=" text-center text-white " id="footer1">
    <!-- Grid container -->
    <div >
      <section class="mb-4" >
        <div class="space">
        <p class="para-1">You can't stop time, but you can save it!

        </p>
        <p class="para-2 " >
            Living in the city, there is never enough time to shop for groceries, pick-up supplies, grab food and wade through traffic on the way back
            home. How about we take care of all of the above for you? What if we can give you all that time back? Send packages across the city and 
            get everything from food, groceries, medicines and pet supplies delivered right to your doorstep. From any store to your door, just make a 
            list and we’ll make it disappear. Just Dunzo It!
          
        </p>
        </div>
      </section>
      <hr style="width: 70%; margin-left: 15%;">
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!-- <i class="logo"></i> -->
        <!--Grid row-->
        <div class="row" id="LINK">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h4 class="dunzo">DUNZO</h4>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/about" class="l1">About</a>
              </li>
              <li>
                <a href="/Jobs" class="l1">Jobs</a>
              </li>
              <li>
                <a href="/contact" class="l1">Contact</a>
              </li>
              <li>
                <a href="" class="l1" >Terms and Conditions</a>
              </li>
              <li>
                <a href="" class="l1">Privacy Policy</a>
              </li>
              <li>
                <a href="" class="l1">Dunzo for partners</a>
              </li>
              <li>
                <a href="" class="l1">Dunzo for buisness</a>
              </li>
              


            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h4 class="dunzo">SERVICEABLE CITIES</h4>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="" class="l1">Bangalore</a>
              </li>
              <li>
                <a href="" class="l1">Pune</a>
              </li>
              <li>
                <a href="" class="l1">Gurgaon</a>
              </li>
              <li>
                <a href="" class="l1">Mumbai</a>
              </li>
              <li>
                <a href="" class="l1">Delhi</a>
              </li>
              <li>
                <a href="" class="l1">Kolkata</a>
              </li>
              <li>
                <a href="" class="l1">Chennai</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h4 class="dunzo">GET IN TOUCH</h4>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="" class="l1">Email</a>
              </li>
              <li>
                <a href="" class="l1">Twitter</a>
              </li>
              <li>
                <a href="" class="l1">Facebook</a>
              </li>
              <li>
                <a href="" class="l1">Instagram</a>
              </li>
              <li>
                <a href="" class="l1">Linkedin</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div> -->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
